@import url("https://fonts.googleapis.com/css2?family=Poppins");

:root {
    /*--r-background-color: #F1EDE3;*/
    /*--r-main-color: #111012;*/
    /*--r-main-font: 'Poppins';*/
}

body:after {
    content: ' ';
    position: fixed;
    bottom: 1em;
    width: 100%;
    height: 4em;
    background-image: url(onepoint_black.png);
    background-size: 12%;
    background-repeat: no-repeat;
    background-position: 95%;
}

.reveal .slides {
    font-family: "Poppins", serif;

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Poppins', serif;
    }

    .quoteblock {
        font-size: 1.5rem;

        .attribution {
            text-align: right;
            margin-right: 6rem;
        }

        blockquote {
            width: 90%;
            background: rgba(146, 167, 255, 0.5);
            text-align: left;
            margin-bottom: 10px;
        }
    }

    section {
        h1 {
        }

        h2 {
            /*font-size: 1.2em;*/
        }

        img {
            border: none;
            box-shadow: none;
        }
    }

    .code-wrapper {
        code {
            max-height: unset;

            .language-yaml {
                font-size: 18px;
            }

            .language-php {
                line-height: normal;
            }
        }
    }

    #_fixtures, #_fixturebundle, #_fixturebundle_2, #_symfonyclock {
        .code-wrapper {
            code {
                font-size: 28px;
                line-height: normal;
            }
        }
    }

    #_première_fixture, #_créons_donc_un_candidat, #_la_notion_de_périmètre, #_les_intervenants_2 {
        code {
            font-size: 24px;
            line-height: normal;
        }
    }

    #_les_intervenants {
        code {
            font-size: 20px;
            line-height: normal;
        }
    }

    #_passons_donc_aux_demandes {
        .code-wrapper {
            width: 95%;

            code {
                font-size: 20px;
                line-height: normal;
            }
        }
    }

    #_demandes_fichiers {
        .code-wrapper {
            code {
                font-size: 28px;
                line-height: normal;
            }
        }
    }

    #_ce_nest_que_le_début_de_lhistoire_3 {
        img {
            max-width: 100%;
        }
    }

    #_dépôt_dune_demande {
        .code-wrapper {
            code {
                font-size: 28px;
                line-height: normal;
            }
        }
    }

    #_et_on_continue_le_parcours {
        .code-wrapper {
            width: 100%;
        }

        code {
            font-size: 20px;
        }
    }

    #_figeons_le_temps, #_figeons_le_temps_2 {
        .code-wrapper {
            width: 100%;

            code {
                font-size: 20px;
            }
        }
    }

    #_ne_le_ferions_nous_pas_déjà_4 code.language-php {
        max-height: 530px;
    }

    #_décrivons_cette_histoire {
        code {
            line-height: normal;
        }
    }

    #_action {
        code {
            font-size: 20px;
            line-height: normal;
        }
    }

    #_gestion_des_actions {
        .code-wrapper {
            width: 95%;
        }
    }

    #_schema, #_gestion_scénario {
        top: 0 !important;
    }

    #_scenario_par_defaut {
        top: 0 !important;

        code.language-yaml {
            font-size: 20px;
            line-height: normal;
        }
    }

    #_un_film_on_en_fait_la_promo {
        .content pre {
            font-size: 18px;
            line-height: normal;
        }

        table {
            thead {
                font-size: 20px;
                background-color: #029edf;
            }

            tbody {
                tr:nth-child(even) {
                    background-color: #ddd;
                }
            }

            font-size: 15px;
        }
    }

    #_merci {
        font-size: larger;
    }
}



